.w-heading {
    max-width: 550px;
}

.bg-sec {
    background-color: #F4FAFD;
}

#feedback button.carousel-control-prev,
#feedback button.carousel-control-next {
    width: 50px;
    height: 50px;
    background: #289BDE;
    border-radius: 50%;
    top: 50%;
    display: none;
    transform: translateY(-50%);
}

button.carousel-control-prev,
button.carousel-control-next {
    width: 100px;
}

#feedback button.carousel-control-prev {
    left: -25px;
}

#feedback button.carousel-control-next {
    right: -25px;
}

.accordion-item {
    margin-top: 10px;
    border: 1px solid grey !important;
    border-radius: 7px;
}

@media screen and (min-width: 992px) {

    #feedback button.carousel-control-prev,
    #feedback button.carousel-control-next {
        display: block;
    }
}